<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/fr.js"></script>
</head>
<body>
    <h1>Calendar</h1>
    <div id="cal">
        <button onclick="beforemonth()" id="btnmonthbefore">before</button>
        <div id="month">MONTH</div>
        <button onclick="nextmonth()" id="btnmonthnext">next</button>
        <button onclick="beforeyear()">before</button>
        <div id="year">YEAR</div>
        <button onclick="nextyear()">next</button>
        <div class="row" id="row1">
            <!-- <div id="" class="week">1</div> -->
            <div id="1" class="cell lundi j1">l1  </div>
            <div id="2" class="cell mardi j2">m1</div>
            <div id="3" class="cell mercredi j3">M1</div>
            <div id="4" class="cell jeudi j4">j1</div>
            <div id="5" class="cell vendredi j5">v1</div>
            <div id="6" class="cell samedi j6">s1</div>
            <div id="7" class="cell dimanche j7">d1</div>
        </div>

        <div class="row" id="row2">
            <!-- <div id="" class="week">2</div> -->
            <div id="8" class="cell lundi">l2</div>
            <div id="9" class="cell mardi">m2</div>
            <div id="10" class="cell mercredi">M2</div>
            <div id="11" class="cell jeudi">j2</div>
            <div id="12" class="cell vendredi">v2</div>
            <div id="13" class="cell samedi">s2</div>
            <div id="14" class="cell dimanche">d2</div>
        </div>

        <div class="row" id="row3">
            <!-- <div id="" class="week">3</div> -->
            <div id="15" class="cell lundi">l3</div>
            <div id="16" class="cell mardi">m3</div>
            <div id="17" class="cell mercredi">M3</div>
            <div id="18" class="cell jeudi">j3</div>
            <div id="19" class="cell vendredi">v3</div>
            <div id="20" class="cell samedi">s3</div>
            <div id="21" class="cell dimanche">d3</div>
        </div>

        <div class="row" id="row4">
            <!-- <div id="" class="week">4</div> -->
            <div id="22" class="cell lundi">l4</div>
            <div id="23" class="cell mardi">m4</div>
            <div id="24" class="cell mercredi">M4</div>
            <div id="25" class="cell jeudi">j4</div>
            <div id="26" class="cell vendredi">v4</div>
            <div id="27" class="cell samedi">s4</div>
            <div id="28" class="cell dimanche">d4</div>
        </div>

        <div class="row" id="row5">
            <!-- <div id="" class="week">5</div> -->
            <div id="29" class="cell lundi">l5</div>
            <div id="30" class="cell mardi">m5</div>
            <div id="31" class="cell mercredi">M5</div>
            <div id="32" class="cell jeudi">j5</div>
            <div id="33" class="cell vendredi">v5</div>
            <div id="34" class="cell samedi">s5</div>
            <div id="35" class="cell dimanche">d5</div>
        </div>

        <div class="row" id="row6">
            <!-- <div id="" class="week">6</div> -->
            <div id="36" class="cell lundi">l6</div>
            <div id="37" class="cell mardi">m6</div>
            <div id="38" class="cell mercredi">M6</div>
            <div id="39" class="cell jeudi">j6</div>
            <div id="40" class="cell vendredi">v6</div>
            <div id="41" class="cell samedi">s6</div>
            <div id="42" class="cell dimanche">d6</div>
        </div>
        
    </div>
    <div id='calendar'></div>
    <script src="main.js"></script>
</body>
</html>